body{
    font-family: monospace;
    background-color: rgb(152, 0, 91);
    }
    .container{
    text-align: center;
    margin-left: 24%;
    border-radius: 20%;
    width: 500px;
    border: 2px solid white;
    margin-top: 3%;
    padding: 27px;
    height: 350px;
}

h1{
    color: white;
    font-size: 30px;
    width: 500px;
}
.num{
    display: flex;
    color: rgb(255, 133, 184);
    margin-left: 15%;
    
}
h2{
    font-size: 80px;
    margin-inline: px;
}

button{
    width: 90px;
    height: 60px;
    background-color:rgb(208, 52, 99);
    color: rgb(255, 255, 255);
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-inline: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}